@{
    ViewData["Title"] = "FitQuest";
}

<head>
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
</head>

@* Encabezado principal del home *@

<div class="contenidoIndex">
    <div>
        <h1 class="display-4 cubicb"><b>¡Bienvenido a FitQuest!</b></h1>
    </div>
    <br>
    <div>
        <h2 class="cubicb">Esta es nuestra aplicación de ejercicios físicos...</h2>
    </div>
    <div>
        <p class="display-4 parrafoTitulo cubicb">Aquí encontrarás una amplia variedad de información
            sobre diferentes tipos de ejercicios físicos.</p>
    </div>
</div>
<br>

@* Cards *@

<div class="container contenidoIndex">
    <div class="row align-items-start">
        <div class="col">
            <div class="card linear card1" style="width: 18rem;">
                <div class="card-body">
                    <div class="overlay">
                        <p class="card-text">FitQuest permitirá a los usuarios cargar y registrar sus propios
                            ejercicios realizados. Los usuarios podrán ingresar información detallada sobre cada
                            ejercicio. Esto incluirá estadísticas como el número total de
                            ejercicios realizados, la duración promedio de cada sesión de entrenamiento y el
                            progreso
                            general.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card linear card2" style="width: 18rem;">
                <div class="card-body">
                    <div class="overlay">
                        <p class="card-text">La aplicación proporcionará una amplia gama de gráficos y
                            visualizaciones para
                            ayudar a los usuarios a comprender mejor su desempeño físico. Estos gráficos mostrarán
                            el
                            progreso a lo largo del tiempo y permitirán a los usuarios comparar diferentes métricas
                            de
                            entrenamiento.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card linear card3">
                <div class="card-body">
                    <div class="overlay">
                        <p class="card-text">FitQuest también ofrecerá análisis personalizados basados en los datos
                            ingresados por el usuario. Utilizando algoritmos inteligentes, la aplicación
                            identificará
                            patrones en el rendimiento del usuario y ofrecerá recomendaciones personalizadas para
                            mejorar su
                            entrenamiento.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
