@{
    ViewData["Title"] = "Política de Privacidad";
}

<head>
    <link rel="stylesheet" href="~/css/privacy.css" asp-append-version="true" />
</head>

<h1>@ViewData["Title"]</h1>

@* Contenido Privacidad de datos con 3 columnas *@
<br> <br> <br>
<div class="container text-center">
    <div class="row align-items-start">
        <div class="col">
            <p class="textCol"><b>1. Privacidad de datos:</b> FitQuest se compromete a proteger y salvaguardar los datos personales del
                usuario,
                asegurando que se recopilen y almacenen de manera segura y confidencial. No se compartirán ni venderán
                los datos del
                usuario a terceros sin su consentimiento explícito. </p>
        </div>
        <div class="col">
            <p class="textCol"><b>2. Uso de información:</b> La información recopilada por FitQuest se utilizará exclusivamente con el
                propósito de
                generar análisis y estadísticas personalizadas para el usuario. No se utilizará con fines publicitarios
                ni se
                compartirá con terceros con fines comerciales sin el consentimiento del usuario.</p>
        </div>
        <div class="col">
            <p class="textCol"><b>3. Acceso y control:</b> El usuario tendrá pleno control sobre los datos que ingrese en FitQuest. Podrá
                acceder,
                modificar o eliminar su información en cualquier momento. Además, la aplicación implementará medidas de
                seguridad
                para proteger los datos contra accesos no autorizados o pérdidas de información.</p>
        </div>
    </div>
</div>
